:root {
  --primary-color: #082032;
  --secondary-color: #2C394B;
  --tertiary-color: #FF4C29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-content {
  height: 100vh;
  background-color: var(--primary-color);
}

.form-content {
  max-width: 400px;
  width: 500px;
}